<div id="top">
  <section>
    <div class="marketing-header-row">
  
    </div>
    <mat-divider></mat-divider>
    <div class="marketing-header">
      <div class="marketing-form-section">
        <div class="marketing-header-row header-form">
          <div class="header">
            <h2>Marketing</h2>
          </div>
          <div class="label-tooltip required-header">
            <span>* Required</span>
          </div>
        </div>
        <form [formGroup]="marketingForm" (ngSubmit)="submitMarketingForm()">
            

          
          
          <div class="form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>Event focus *</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="What your event will focus on"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <mat-button-toggle-group formControlName="priority">
              <div *ngFor="let priority of priorities" (click)="selectedPriority(priority.value)">
                <div *ngIf="priority.field != 'Other'" class="event-focus-button">
                  <mat-button-toggle value="{{ priority.value }}">
                    {{ priority.field | slice: 0:20 }}
                  </mat-button-toggle>
                </div>
              </div>

              <div *ngFor="let priority of priorities" (click)="selectedPriority(priority.value)">
                <div *ngIf="priority.field == 'Other'" class="event-focus-button">
                  <mat-button-toggle value="{{ priority.value }}">
                    {{ priority.field }}
                  </mat-button-toggle>
                </div>
              </div>
            </mat-button-toggle-group>
            <div
              class="error-msg field-message"
              *ngIf="marketingForm.value['priority'] == null && toggleChecker == true"
            >

            </div>
          </div>
          <br />

          <div class="form-field">
            <div *ngIf="priority == 'PRODUCT_FOCUS'">
              <mat-label>Primary product focus</mat-label><br />
              <mat-form-field appearance="outline">
                <mat-select placeholder="Select up to 2" formControlName="productFocus" multiple>
                  <mat-option *ngFor="let product of productFocus" [value]="product.value">
                    {{ product.field }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="eventFocusEmpty">
                  Maximum of 2 choices only
                </mat-error>
              </mat-form-field>
              <br />
            </div>
            <div *ngIf="priority == 'MARKETING_OBJECTIVE_FOCUS'">
              <mat-label>Primary marketing objective *</mat-label>
              <div class="form-flex">
                <mat-form-field appearance="outline">
                  <mat-select
                    placeholder="Select marketing objective"
                    formControlName="marketingObjective"
                  >
                    <mat-option
                      *ngFor="let objective of marketingObjective"
                      [value]="objective.value"
                    >
                      {{ objective.field }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="eventMarketingObjectiveEmpty"
                  >
                    Marketing objective should be provided
                  </mat-error>
                </mat-form-field>
                <div class="check-icon">
                  <mat-icon
                    class="valid-input"
                    *ngIf="marketingForm.value['marketingObjective'] !== ''"
                  >
                    check_circle
                  </mat-icon>
                </div>
              </div>
            </div>

            <div *ngIf="priority == 'PRIORITY_OTHER'">
              <mat-label>Other priorities (Optional)</mat-label><br />
              <mat-form-field appearance="outline">
                <input
                  placeholder="Enter other priorities"
                  matInput
                  type="text"
                  formControlName="otherPriorities"
                />
              </mat-form-field>
            </div>

            <div *ngIf="priority == 'BRAND_AND_ENGAGEMENT_FOCUS'">
              <mat-label>Brand and engagement objective *</mat-label>
              <div class="form-flex">
                <mat-form-field appearance="outline">
                  <mat-select
                    placeholder="Select brand and engagement focus"
                    formControlName="brandAndEngagement"
                  >
                    <mat-option
                      *ngFor="let brand of brandFocus"
                      [value]="brand.value"
                    >
                      {{ brand.field }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="marketingForm.controls['brandAndEngagement'].hasError('required')"
                  >
                    Branding & engagement should be provided
                  </mat-error>
                </mat-form-field>
                <div class="check-icon">
                  <mat-icon
                    class="valid-input"
                    *ngIf="marketingForm.value['brandAndEngagement'] !== ''"
                  >
                    check_circle
                  </mat-icon>
                </div>
              </div>
            </div>
          </div>

          
          
          <div class="header-form">
            <button
              mat-raised-button
              class="primary-buttons"
              (click)="submitMarketingForm()"
              type="submit"
            >
              {{submitButton()}}
            </button>
            <button
              type="button"
              mat-button
              class="cancel-button"
          
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
