<div id="top">
  <section>
    <div class="marketing-header-row">
      <div>
        <h1>Marketing details</h1>
      </div>
   
    </div>
    <mat-divider></mat-divider>
    <div class="marketing-header">
      <div class="marketing-form-section">
        <div class="marketing-header-row header-form">
          <div class="header">
            <h2>Marketing</h2>
          </div>
          <div class="label-tooltip required-header">
            <span>* Required</span>
          </div>
        </div>
        <form [formGroup]="marketingForm" (ngSubmit)="submitMarketingForm()">
          <div class="event-format form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>Event format *</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="The style of event"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <div class="form-flex">
              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Select event format"
                  formControlName="eventFormat"
                  required
                >
                  <mat-option *ngFor="let format of eventFormat" [value]="format.value">
                    {{ format.field }}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="marketingForm.controls['eventFormat'].hasError('required')"> -->
                <mat-error *ngIf="eventFormatEmpty">
                  Event format should be provided
                </mat-error>
              </mat-form-field>
              <div class="check-icon">
                <mat-icon class="valid-input" *ngIf="marketingForm.controls['eventFormat'].valid">
                  check_circle
                </mat-icon>
              </div>
            </div>
          </div>

          <div class="form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>Main funding team *</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="Where majority of event funding is coming from"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <div class="form-flex">
              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Select main funding team"
                  formControlName="fundingTeam"
                  required
                >
                  <mat-option *ngFor="let team of fundingTeam" [value]="team.value">
                    {{ team.field }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="eventMainFundingEmpty">
                  Marketing funding should be provided
                </mat-error>
              </mat-form-field>
              <div class="check-icon">
                <mat-icon class="valid-input" *ngIf="marketingForm.controls['fundingTeam'].valid">
                  check_circle
                </mat-icon>
              </div>
            </div>
          </div>

          <div class="form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>Google branded event? *</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="Google branded or non-branded (i.e. Industry Event)"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <mat-button-toggle-group formControlName="googleBranded">
              <mat-button-toggle value="yes">Google branded</mat-button-toggle>
              <mat-button-toggle value="no">Non-branded</mat-button-toggle>
            </mat-button-toggle-group>
            <div
              class="error-msg field-message"
              *ngIf="marketingForm.value['googleBranded'] == null && toggleChecker == true"
            >

            </div>
          </div>
          <br />

          <div class="form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>Customer segment *</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="The customer segment(s) your event is targeting"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <div class="form-flex">
              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Select customer segment"
                  formControlName="customerSegment"
                  multiple
                  required
                >
                  <mat-option *ngFor="let segment of customerSegment" [value]="segment.value">
                    {{ segment.field }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="eventCustomerSegmentEmpty">
                  Customer segment should be provided
                </mat-error>
              </mat-form-field>
              <div class="check-icon">
                <mat-icon
                  class="valid-input"
                  *ngIf="marketingForm.controls['customerSegment'].valid"
                >
                  check_circle
                </mat-icon>
              </div>
            </div>
          </div>

          <div class="form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>Revenue opportunity *</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="The type of opportunity your event will focus on"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <div class="form-flex">
              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Select revenue opportunity"
                  formControlName="revenueOpportunity"
                  multiple
                  required
                >
                  <mat-option
                    *ngFor="let opportunity of revenueOpportunity"
                    [value]="opportunity.value"
                  >
                    {{ opportunity.field }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="eventRevenueOpportunityEmpty"
                >
                  Revenue opportunity should be provided
                </mat-error>
              </mat-form-field>
              <div class="check-icon">
                <mat-icon
                  class="valid-input"
                  *ngIf="marketingForm.controls['revenueOpportunity'].valid"
                >
                  check_circle
                </mat-icon>
              </div>
            </div>
          </div>

          <div class="form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>Target audience *</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="The seniority and expertise of the audience"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <div class="form-flex">
              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Select target audience"
                  formControlName="targetAudience"
                  multiple
                  required
                >
                  <mat-option *ngFor="let audience of targetAudience" [value]="audience.value">
                    {{ audience.field }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="eventTargetAuienceEmpty">
                  Target audience should be provided
                </mat-error>
              </mat-form-field>
              <div class="check-icon">
                <mat-icon
                  class="valid-input"
                  *ngIf="marketingForm.controls['targetAudience'].valid"
                >
                  check_circle
                </mat-icon>
              </div>
            </div>
          </div>

          <div class="form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>Estimated number of attendees *</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="The number of attendees expected at the event"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <div class="form-flex">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Select range" formControlName="attendees" required>
                  <mat-option *ngFor="let attendee of estimatedAttendees" [value]="attendee.value">
                    {{ attendee.field }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="eventEstimatedAttendeesEmpty">
                  Estimated attendees should be provided
                </mat-error>
              </mat-form-field>
              <div class="check-icon">
                <mat-icon class="valid-input" *ngIf="marketingForm.controls['attendees'].valid">
                  check_circle
                </mat-icon>
              </div>
            </div>
          </div>

          <div class="form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>Event focus *</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="What your event will focus on"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <mat-button-toggle-group formControlName="priority">
              <div *ngFor="let priority of priorities" (click)="selectedPriority(priority.value)">
                <div *ngIf="priority.field != 'Other'" class="event-focus-button">
                  <mat-button-toggle value="{{ priority.value }}">
                    {{ priority.field | slice: 0:20 }}
                  </mat-button-toggle>
                </div>
              </div>

              <div *ngFor="let priority of priorities" (click)="selectedPriority(priority.value)">
                <div *ngIf="priority.field == 'Other'" class="event-focus-button">
                  <mat-button-toggle value="{{ priority.value }}">
                    {{ priority.field }}
                  </mat-button-toggle>
                </div>
              </div>
            </mat-button-toggle-group>
            <div
              class="error-msg field-message"
              *ngIf="marketingForm.value['priority'] == null && toggleChecker == true"
            >

            </div>
          </div>
          <br />

          <div class="form-field">
            <div *ngIf="priority == 'PRODUCT_FOCUS'">
              <mat-label>Primary product focus</mat-label><br />
              <mat-form-field appearance="outline">
                <mat-select placeholder="Select up to 2" formControlName="productFocus" multiple>
                  <mat-option *ngFor="let product of productFocus" [value]="product.value">
                    {{ product.field }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="eventFocusEmpty">
                  Maximum of 2 choices only
                </mat-error>
              </mat-form-field>
              <br />
            </div>
            <div *ngIf="priority == 'MARKETING_OBJECTIVE_FOCUS'">
              <mat-label>Primary marketing objective *</mat-label>
              <div class="form-flex">
                <mat-form-field appearance="outline">
                  <mat-select
                    placeholder="Select marketing objective"
                    formControlName="marketingObjective"
                  >
                    <mat-option
                      *ngFor="let objective of marketingObjective"
                      [value]="objective.value"
                    >
                      {{ objective.field }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="eventMarketingObjectiveEmpty"
                  >
                    Marketing objective should be provided
                  </mat-error>
                </mat-form-field>
                <div class="check-icon">
                  <mat-icon
                    class="valid-input"
                    *ngIf="marketingForm.value['marketingObjective'] !== ''"
                  >
                    check_circle
                  </mat-icon>
                </div>
              </div>
            </div>

            <div *ngIf="priority == 'PRIORITY_OTHER'">
              <mat-label>Other priorities (Optional)</mat-label><br />
              <mat-form-field appearance="outline">
                <input
                  placeholder="Enter other priorities"
                  matInput
                  type="text"
                  formControlName="otherPriorities"
                />
              </mat-form-field>
            </div>

            <div *ngIf="priority == 'BRAND_AND_ENGAGEMENT_FOCUS'">
              <mat-label>Brand and engagement objective *</mat-label>
              <div class="form-flex">
                <mat-form-field appearance="outline">
                  <mat-select
                    placeholder="Select brand and engagement focus"
                    formControlName="brandAndEngagement"
                  >
                    <mat-option
                      *ngFor="let brand of brandFocus"
                      [value]="brand.value"
                    >
                      {{ brand.field }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="marketingForm.controls['brandAndEngagement'].hasError('required')"
                  >
                    Branding & engagement should be provided
                  </mat-error>
                </mat-form-field>
                <div class="check-icon">
                  <mat-icon
                    class="valid-input"
                    *ngIf="marketingForm.value['brandAndEngagement'] !== ''"
                  >
                    check_circle
                  </mat-icon>
                </div>
              </div>
            </div>
          </div>

          <div class="form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>Customer vertical *</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="The vertical your event is targeting"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <div class="form-flex">
              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Select customer vertical"
                  formControlName="customerVertical"
                  required
                  multiple
                >
                  <mat-option *ngFor="let vertical of customerVertical" [value]="vertical.value">
                    {{ vertical.field }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="eventCustomerVertical">
                  Customer vertical should be provided
                </mat-error>
              </mat-form-field>
              <div class="check-icon">
                <mat-icon
                  class="valid-input"
                  *ngIf="marketingForm.controls['customerVertical'].valid"
                >
                  check_circle
                </mat-icon>
              </div>
            </div>
          </div>

          <div class="event-format form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>Amount estimated (USD) *</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="The estimated budget for the event"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <div class="form-flex">
              <mat-form-field class="form" appearance="outline">
                <input
                  matInput
                  type="number"
                  min="0.01"
                  placeholder="00.00"
                  formControlName="amountEstimated"
                  required
                />
                <span matPrefix class="dollar-sign">$&nbsp;</span>
                <mat-error *ngIf="marketingForm.controls['amountEstimated'].hasError('required')">
                  Amount estimated should be provided
                </mat-error>
                <mat-error *ngIf="marketingForm.controls['amountEstimated'].hasError('min')">
                  Input positive numbers only.
                </mat-error>
                <mat-error *ngIf="marketingForm.controls['amountEstimated'].hasError('pattern')">
                  Input amount with a maximum of 2 decimal places only.
                </mat-error>
              </mat-form-field>
              <div class="check-icon">
                <mat-icon
                  class="valid-input"
                  *ngIf="marketingForm.controls['amountEstimated'].valid"
                >
                  check_circle
                </mat-icon>
              </div>
            </div>
          </div>

          <div class="form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>External Event Website Link (Optional)</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="The URL for your event's website i.e. Gather, Defjam"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <div class="form-flex">
              <mat-form-field appearance="outline">
                <input
                  placeholder="Enter URL"
                  matInput
                  type="url"
                  formControlName="externalEventWebsite"
                />
                <mat-hint>Ex. https://www.google.com/</mat-hint>
                <mat-error
                  *ngIf="marketingForm.controls['externalEventWebsite'].hasError('pattern')"
                >
                  Enter a valid URL.
                </mat-error>
              </mat-form-field>
              <div class="check-icon">
                <mat-icon
                  class="valid-input"
                  *ngIf="
                    marketingForm.controls['externalEventWebsite'].valid &&
                    marketingForm.value['externalEventWebsite'] != ''
                  "
                >
                  check_circle
                </mat-icon>
              </div>
            </div>
          </div>

          <div class="form-field">
            <div class="label-header-row height width">
              <div>
                <mat-label>Plan to invite priority executives? (Optional)</mat-label>
              </div>
              <div class="label-tooltip">
                <mat-icon
                  class="tooltip-icon"
                  matTooltip="If you plan to invite high value priority executives or not"
                  matTooltipPosition="right"
                >
                  info_outline
                </mat-icon>
              </div>
            </div>
            <br />
            <mat-radio-group
              aria-label="Plan to invite priority executives"
              i18n-aria-label="Aria Label for priority executives radio button"
              color="primary"
              formControlName="inviteExecutives"
            >
              <mat-radio-button value="yes">Yes</mat-radio-button>
              <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <br />

          <div class="header-form">
            <button
              mat-raised-button
              class="primary-buttons"
              (click)="submitMarketingForm()"
              type="submit"
            >
              {{submitButton()}}
            </button>
            <button
              type="button"
              mat-button
              class="cancel-button"
              [routerLink]="['/event/overview/', code]"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
      <div class="sidenav-section">
       asdf
      </div>
    </div>
  </section>
</div>
